/************ developments Css ************/
.development {
  padding: 20px 30px 40px 30px;
  position: relative;
  background-color: #111;
}

.development h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.development p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
