.about-container {
    background-color: #111;
    padding-top: 80px;
    width: 100vw;
    height: auto;
}

.about-my {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    height: 500px;
    border-radius: 20px;
    padding-top: 20px 10px;
    border-radius: 20px;
}

.about-img img{
    height: auto;
    border-radius: 10px;
}

.about-description {
    height: 500px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
}

/* ************* RESPONSIVIDADE ********** */
@media (max-width:768px) {
    .about-container {
        padding-top: 50px;
    }
}