.project-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
}

.project-slider .item img {
    width: 100%;
    height: auto;
    max-height: 600px;
    margin: 0 auto 15px auto;
    border-radius: 20px;
}

.carousel-item-padding-40-px{
    padding-right: 10px;
}